.button {
  display: block;
  background-color: $basicAccent;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: $white;
  cursor: pointer;

  &:active {
    background-color: $extraAccent;
  }
}
