.destinations {
  padding-top: 200px;
  padding-bottom: 124px;

  @media (max-width: $tabletMax) {
    padding-top: 80px;
    padding-bottom: 95px;
  }
}

.destinations__title {
  margin: 0 0 64px 0;
  padding: 0;
  position: relative;
  width: 330px;
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  letter-spacing: -1.25px;

  &::before {
    content: "";
    position: absolute;
    bottom: -30px;
    display: block;
    width: 228px;
    height: 4px;
    background-color: $basicAccent;
  }

  @media (max-width: $tabletMax) {
    margin: 0 auto 20px auto;
    font-size: 30px;
    line-height: 45px;
    text-align: center;

    &::before {
      display: none;
    }
  }
}

.destinations__description {
  margin: 0 0 55px 0;
  width: 330px;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.47px;
  color: $basicDarkOpacue07;

  @media (max-width: $tabletMax) {
    margin: 0 auto 40px auto;
    text-align: center;
  }
}

.destinations__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: $tabletMax) {
    justify-content: center;
  }
}

.destinations__item {
  width: fit-content;

  &:nth-child(4) {
    margin: 100px 0 0 175px;
  }

  &:nth-child(5) {
    margin: 100px 175px 0 0;
  }

  @media (max-width: $tabletMax) {
    &:nth-child(4),
    &:nth-child(5) {
      margin: 0;
    }

    &:nth-child(1),
    &:nth-child(3) {
      margin: 0 40px 40px 0;
    }
  }
}

.destinations__card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.destinations__card:hover,
.destinations__card:focus {
  & .destinations__card-link {
    display: block;
  }

  &::before,
  & .destinations__card-title::before {
    content: "";
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: $extraDarkOpacue06;
  }
}

.destinations__card-photo img {
  display: block;

  @media (max-width: $tabletMax) {
    width: 288px;
    height: 425px;
  }
}

.destinations__card-link {
  padding: 29px 0;
  position: absolute;
  bottom: calc(50% - 38.5px);
  display: none;
  width: 266px;
  border: 1px solid $whiteOpacue07;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $white;
}

.destinations__card-title {
  padding: 16px 0;
  position: absolute;
  bottom: 0;
  display: block;
  width: 215px;
  background-color: $white;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: -0.42px;
  color: $basicDark;
}
