.footer {
  padding: 20px 0 74px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  @media (max-width: $tabletMax) {
    padding: 20px 21px 54px 21px;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
  }

  @media (max-width: $mobileMax) {
    padding: 0 16px 26px 16px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
}

.footer__heading {
  margin: 5px 0 20px 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: $extraDark;

  @media (max-width: $mobileMax) {
    text-align: center;
  }
}

.footer__tours {
  padding: 0 30px 12px 0;
  border-right: 1px solid $extraGrey;

  @media (max-width: $tabletMax) {
    margin: 0 0 10px 0;
    padding: 0 50px 12px 0;
  }

  @media (max-width: $mobileMax) {
    padding: 0 0 20px 0;
    border-right: none;
    border-bottom: 1px solid $extraGrey;
  }
}

.footer__tours-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  @media (max-width: $mobileMax) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
}

.footer__tours-item:nth-child(3) {
  @media (max-width: $mobileMax) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
}

.footer__tours-sub-list li {
  margin-bottom: 10px;
  width: 100%;
  font-size: 14px;
  line-height: 17px;
  color: $extraDarkOpacue05;

  @media (max-width: $mobileMax) {
    text-align: center;
  }
}

.footer__contacts {
  padding: 0 60px;
  border-right: 1px solid $extraGrey;

  @media (max-width: $tabletMax) {
    padding: 0 23px 0 50px;
    border: none;
  }

  @media (max-width: $mobileMax) {
    padding: 0;
  }
}

.footer__contacts-list {
  @media (max-width: $mobileMax) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footer__contacts-link {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $extraGrey;

  & svg {
    margin-right: 15px;
    fill: none;
    width: 30px;
    height: 30px;
  }

  & span {
    text-decoration: underline;
    color: $basicAccent;
  }
}

.footer__contacts-email {
  font-size: 14px;
  line-height: 17px;
}

.footer__contacts-phone {
  font-size: 16px;
  line-height: 32px;
}

.footer__business-tours {
  padding: 0 0 0 60px;

  @media (max-width: $tabletMax) {
    padding: 23px 0 0 0;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    border-top: 1px solid $extraGrey;
  }

  @media (max-width: $mobileMax) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
}

.footer__business-tours-heading {
  @media (max-width: $tabletMax) {
    text-align: center;
  }
}

.footer__business-tours-about {
  font-size: 14px;
  line-height: 24px;
  color: $extraDarkOpacue05;

  @media (max-width: $tabletMax) {
    text-align: center;
  }
}
