.form {
  margin-bottom: 135px;

  @media (max-width: $tabletMax) {
    margin-bottom: 60px;
  }
}

.form__wrapper {
  padding: 70px 0;
  display: flex;
  justify-content: end;
  background-image: url("../img/form-background@1x.png");
  background-position: 0 center;
  background-repeat: no-repeat;
  background-size: 844px 455px;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/form-background@2x.png");
  }

  @media (max-width: $tabletMax) {
    justify-content: center;
    background-image: url("../img/form-background-tablet@1x.png");
    background-size: 100% 455px;
  }

  @media (max-width: $tabletMax) and (min-resolution: 144dpi),
    (max-width: $tabletMax) and (min-resolution: 1.5dppx) {
    background-image: url("../img/form-background-tablet@2x.png");
  }

  @media (max-width: $mobileMax) {
    padding: 0;
    background-image: none;
  }
}

.form__body {
  padding: 50px;
  width: 656px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;
  box-shadow: 0px 4px 30px $basicDarkOpacue01;
  border-radius: 5px;

  @media (max-width: $mobileMax) {
    padding: 50px 16px;
    width: 100%;
    background-color: $extraGrey2;
    box-shadow: none;
  }
}

.form__heading {
  margin: 0 0 15px 0;
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;

  @media (max-width: $mobileMax) {
    margin: 0 0 18px 0;
    text-align: center;
  }
}

.form__text {
  margin: 0 0 24px 0;
  font-size: 16px;
  line-height: 24px;

  @media (max-width: $mobileMax) {
    margin: 0 0 22px 0;
    text-align: center;
  }
}

.form__inputs {
  margin-bottom: 25px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;

  @media (max-width: $tabletMax) {
    margin-bottom: 18px;
  }

  @media (max-width: $mobileMax) {
    margin-bottom: 21px;
    flex-direction: column;
  }
}

.form__input-phone,
.form__input-email {
  padding: 15px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 14px;
  line-height: 17px;
  color: $extraDark;
}

.form__phone-input-wrapper,
.form__email-input-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid $basicDarkOpacue03;
  background-color: $white;
  min-width: 269px;

  @media (max-width: $mobileMax) {
    min-width: 286px;
  }
}

.form__phone-input-wrapper {
  margin: 0 19px 0 0;
  padding: 0 0 0 15px;

  & span {
    font-size: 14px;
    line-height: 17px;
  }

  & span:first-child {
    padding: 0 5px 0 0;
    font-size: 17px;
    line-height: 21px;
    color: $basicAccent;
  }

  @media (max-width: $mobileMax) {
    margin: 0 0 20px 0;
  }
}

.form__submit-button {
  padding: 18px 0;
  width: 176px;
  text-align: center;
  border: none;

  @media (max-width: $tabletMax) {
    width: 250px;
  }

  @media (max-width: $mobileMax) {
    width: 288px;
  }
}

.input-wrapper--invalid {
  border: 1px solid $basicAccent;
}
