.header {
  padding: 35px 0;

  @media (max-width: $tabletMax) {
    padding: 0 0 0 21px;
  }

  @media (max-width: $mobileMax) {
    padding: 0 0 0 16px;
  }
}

.header__wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.header__logo {
  padding: 5px 0 0 0;

  @media (max-width: $tabletMax) {
    padding: 17px 0 16px 0;
  }
}

.header__logo img {
  @media (max-width: $tabletMax) {
    width: 44px;
    height: 17px;
  }
}

.header__nav-list {
  padding-right: 5px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  @media (max-width: $tabletMax) {
    padding: 84px 0 0 0;
    position: absolute;
    top: 50px;
    right: 0;
    display: block;
    width: 320px;
    z-index: 2;
    background-color: $white;

    &--closed {
      display: none;
    }
  }
}

.header__nav-item {
  margin-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & svg {
    display: none;
    width: 8px;
    height: 12px;
  }

  @media (max-width: $tabletMax) {
    margin-right: 0;
    margin-bottom: 30px;
    padding: 17px 16px;
    background-color: $extraGrey2;

    & svg {
      display: block;
    }
  }
}

.header__nav-item-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 17.07px;

  @media (max-width: $tabletMax) {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: $extraDark2;
  }
}

.header__nav-phone {
  margin-left: 30px;

  @media (max-width: $tabletMax) {
    display: none;
  }
}

.header__nav-phone-link {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 32px;
  color: $basicDark;

  &:hover {
    color: $basicAccent;
  }
}

.header__nav-phone-icon {
  margin-right: 6px;
  fill: none;
  width: 30px;
  height: 30px;
}

.header__menu-button {
  display: none;

  @media (max-width: $tabletMax) {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 100%;
    background-color: $white;

    &--closed {
      background-color: $basicAccent;
    }
  }
}

.header__menu-button-open,
.header__menu-button-close {
  display: none;
  width: 22px;
  height: 22px;

  @media (max-width: $tabletMax) {
    &--active {
      display: block;
    }
  }
}
