.page-header {
  min-height: 860px;
  background-image: url("../img/page-header-background@1x.png");
  background-position: center center;
  background-repeat: no-repeat;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/page-header-background@2x.png");
    background-size: 100% 860px;
  }

  @media (max-width: $tabletMax) {
    min-height: 344px;
    background-image: url("../img/page-header-background-tablet@1x.png");
  }

  @media (max-width: $tabletMax) and (min-resolution: 144dpi),
    (max-width: $tabletMax) and (min-resolution: 1.5dppx) {
    background-image: url("../img/page-header-background-tablet@2x.png");
    background-size: 100% 344px;
  }

  @media (max-width: $mobileMax) {
    min-height: 430px;
    background-image: url("../img/page-header-background-mobile@1x.png");
    background-position: center 0;
  }

  @media (max-width: $mobileMax) and (min-resolution: 144dpi),
    (max-width: $mobileMax) and (min-resolution: 1.5dppx) {
    background-image: url("../img/page-header-background-mobile@2x.png");
    background-size: 100% 235px;
  }
}

.page-header__wrapper {
  padding: 183px 130px 0 700px;

  @media (max-width: $tabletMax) {
    padding: 60px 185px 70px 185px;
  }

  @media (max-width: $mobileMax) {
    padding: 81px 16px 0 16px;
  }
}

.page-header__title {
  margin: 0 0 30px 0;
  padding: 0;
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  letter-spacing: -1.11px;
  color: $white;

  @media (max-width: $tabletMax) {
    margin: 0 0 15px 0;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
  }

  @media (max-width: $mobileMax) {
    margin: 0 0 102px 0;
    font-size: 24px;
    line-height: 36px;
  }
}

.page-header__descritpion {
  margin: 0 0 33px 0;
  padding: 0 0 0 0;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: -0.47px;
  color: $white;

  @media (max-width: $tabletMax) {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    letter-spacing: -0.47px;
  }

  @media (max-width: $mobileMax) {
    margin: 0 0 20px 0;
    color: $basicDark;
  }
}

.page-header__button {
  margin: 0 auto;
  padding: 30px 40px 30px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 340px;

  @media (max-width: $tabletMax) {
    padding: 19px 40px 19px 40px;
    width: 250px;
  }

  @media (max-width: $mobileMax) {
    width: 288px;
  }
}

.page-header__button-icon {
  width: 14px;
  height: 14px;
  fill: none;
}
