.tour {
  background-image: url("../img/tour-background.svg");
  background-position: center, center;
  background-repeat: no-repeat;

  @media (max-width: $tabletMax) {
    background-image: none;
  }
}

.tour__list-short {
  margin-bottom: 65px;
  padding-bottom: 15px;
  display: flex;
  width: fit-content;
  border-bottom: 1px solid $basicDarkOpacue03;

  @media (max-width: $tabletMax) {
    margin-bottom: 30px;
    overflow: hidden;
  }
}

.tour__item-short:not(:last-child) {
  margin-right: 99px;
}

.tour__item-short-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.415px;
  color: $basicDarkOpacue03;

  &--current {
    color: $basicAccent;
  }
}

.tour__list {
  margin: 0 0 234px 0;

  @media (max-width: $tabletMax) {
    margin: 0 0 80px 0;
  }
}

.tour__item {
  display: none;
  grid-template-columns: 1fr 700px;

  &--current {
    display: grid;
  }

  @media (max-width: $tabletMax) {
    grid-template-columns: auto;
    grid-template-rows: auto 447px;
  }
}

.tour__about {
  padding: 15px 100px 0 0;

  @media (max-width: $tabletMax) {
    padding: 0 21px 30px 21px;
  }
}

.tour__country {
  margin: 0 0 53px 0;
  position: relative;
  font-weight: 600;
  font-size: 55px;
  line-height: 90px;
  letter-spacing: -1.245px;

  &::before {
    content: "";
    position: absolute;
    bottom: -20px;
    display: block;
    width: 175px;
    height: 3px;
    background-color: $basicAccent;
  }

  @media (max-width: $tabletMax) {
    margin: 0 0 20px 0;
    font-size: 30px;
    line-height: 45px;
    text-align: center;

    &::before {
      display: none;
    }
  }
}

.tour__info {
  margin: 0 0 50px 0;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.47px;
  color: $basicDarkOpacue07;

  @media (max-width: $tabletMax) {
    margin: 0 0 20px 0;
    text-align: center;
  }
}

.tour__button {
  padding: 30px 0;
  width: 250px;

  @media (max-width: $tabletMax) {
    margin: 0 auto;
    padding: 19px 0;
  }
}

.tour__review-section {
  position: relative;
}

.tour__photo img {
  @media (max-width: $tabletMax) {
    width: 100%;
    height: 415px;
  }
}

.tour__review {
  padding: 30px;
  position: absolute;
  top: 100px;
  right: 0;
  width: 382px;
  background: $white;

  @media (max-width: $tabletMax) {
    top: 80px;
    right: calc(50% - 191px);
  }
}

.tour__review-title {
  margin: 0 0 32px 0;
  position: relative;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: -0.69px;

  &::before {
    content: "";
    position: absolute;
    bottom: -11px;
    display: block;
    width: 68px;
    height: 1px;
    background-color: $basicAccent;
  }
}

.tour__review-text {
  margin: 0 0 35px 0;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: -0.41px;
  color: $basicDarkOpacue07;
}

.tour__review-author {
  display: flex;
  align-items: center;
}

.tour__review-author-photo {
  margin-right: 16px;
}

.tour__review-author-photo img {
  border-radius: 50%;
}

.tour__review-author-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.47px;
}
