.body {
  font-family: $monserrat;
  font-weight: 400;
  font-size: 16px;
  color: $basicDark;
  background-color: $white;
}

.container {
  margin: 0 auto;
  padding: 0;
  // min-width: $desktopMin;
  max-width: $desktopMax;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
