//Fonts
$monserrat: "Monserrat", arial, sans-serif;

//Colours
$black: #000000;
$white: #ffffff;
$basicDark: rgba(44, 46, 63, 1);
$extraDark: rgba(20, 21, 23, 1);
$basicAccent: rgba(254, 120, 101, 1);
$extraAccent: rgba(241, 125, 75, 1);

