//Fonts
$monserrat: "Monserrat", arial, sans-serif;

//Content width
$desktopMin: 1024px;
$desktopMax: 1170px;
$tabletMin: 768px;
$tabletMax: 1023px;
$mobileMin: 320px;
$mobileMax: 767px;

//Resolution
$desktop: 1440px;

//Colours
$black: #000000;
$white: #ffffff;
$whiteOpacue07: rgba(255, 255, 255, 0.7);
$basicDark: rgba(44, 46, 63, 1);
$basicDarkOpacue03: rgba(44, 46, 63, 0.3);
$basicDarkOpacue07: rgba(44, 46, 63, 0.7);
$extraDark: rgba(20, 21, 23, 1);
$extraDarkOpacue06: rgba(20, 21, 23, 0.6);
$extraDarkOpacue07: rgba(20, 21, 23, 0.7);
$basicAccent: rgba(254, 120, 101, 1);
$extraAccent: rgba(241, 125, 75, 1);

