//Fonts
$monserrat: "Monserrat", arial, sans-serif;

//Content width
$desktopMax: 1170px;
$desktopMin: 1024px;
$tabletMax: 1023px;
$tabletMin: 768px;
$mobileMax: 767px;
$mobileMin: 320px;

//Resolution
$desktop: 1440px;

//Colours
$black: #000000;
$white: #ffffff;
$whiteOpacue07: rgba(255, 255, 255, 0.7);
$basicDark: rgba(44, 46, 63, 1);
$basicDarkOpacue01: rgba(41, 54, 66, 0.1);
$basicDarkOpacue03: rgba(44, 46, 63, 0.3);
$basicDarkOpacue07: rgba(44, 46, 63, 0.7);
$extraDark: rgba(20, 21, 23, 1);
$extraDark2: rgba(72, 73, 77, 1);
$extraDarkOpacue05: rgba(20, 21, 23, 0.5);
$extraDarkOpacue06: rgba(20, 21, 23, 0.6);
$extraDarkOpacue07: rgba(20, 21, 23, 0.7);
$basicAccent: rgba(254, 120, 101, 1);
$basicAccentOpacue05: rgba(254, 120, 101, 0.5);
$extraAccent: rgba(241, 125, 75, 1);
$extraGrey: rgba(215, 217, 223, 1);
$extraGrey2: rgba(251, 248, 248, 1);

